name: "bluebell"
mode: "debug"
port: 9091
version: "v0.0.1"
start_time: "2023-01-01"
machine_id: 1
auth:
  access_token_expire_duration: 60000 # second
  refresh_token_expire_duration: 2592000 # second
log:
  level: "debug"
  filename: "bluebell.log"
  max_size: 200
  max_age: 30
  max_backups: 7
mysql:
  host: "127.0.0.1"
  port: 3306
  user: "root"
  password: "1234"
  dbname: "bluebell"
  max_conns: 200
  idle_conns: 50
redis:
  host: "127.0.0.1"
  port: 6379
  db: 0
  password: ""
  pool_size: 100
